<a href="https://colab.research.google.com/github/Hendrix8/imdb-scraper/blob/main/imdb_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [117]:
url = ("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
html = requests.get(url).text
soup = BeautifulSoup(html, "html5lib")
movie_list = soup('tbody', {'class' : 'lister-list'})

movies = [movie('tr') for movie in movie_list]

movie_num = len(movies[0])

titles = [movies[0][i]('td', {'class', 'titleColumn'})[0].contents[1].text for i in range(movie_num)] 
years = [movies[0][i]('td', {'class', 'titleColumn'})[0]('span')[0].contents[0][1:-1] for i in range(movie_num)] 
ratings = [float(movies[0][i]('td', {'class', 'ratingColumn imdbRating'})[0].contents[1].text) for i in range(movie_num)]

In [119]:
df = pd.DataFrame()
df = df.assign(title=titles, year=years, rating=ratings)
df

                        title  year  rating
0    The Shawshank Redemption  1994     9.2
1               The Godfather  1972     9.2
2             The Dark Knight  2008     9.0
3       The Godfather Part II  1974     9.0
4                12 Angry Men  1957     9.0
..                        ...   ...     ...
245               Dersu Uzala  1975     8.0
246                    Gandhi  1982     8.0
247                  The Help  2011     8.0
248                   Aladdin  1992     8.0
249            The Iron Giant  1999     8.0

[250 rows x 3 columns]

In [121]:
df.to_csv("top250.csv")